/* ---------------- Couleurs principales */

$couleur_rosePrimaire: #FF207A;
$couleur_mauvePrimaire: #6D42A6;
$couleur_mauvePrimaire-pale: #CDC1E2;

$couleur_mauveSecondaire: #A663FF;
$couleur_mauveSecondaire-pale: #B98AFF;
$couleur_mauvePrincipal-pale2: #D7BDFF;

 
$couleur_noir: #32353B;
$couleur_noirFonce: #222426;

/* ---------------- Effets visuels */

$ombreHexagone: rgba(34, 36, 38, 0.3) 12px 12px 30px;
$ombreTitre: rgba(34, 36, 38, 0.5) 15px 15px 25px;
$ombreBouton: rgba(34, 36, 38, 0.3) 15px 12px 30px;