input{
    background-color: #A663FF;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    border: none;
}

.Long_Button{
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    color: white;
    padding: 1em 2em;
    font-size: clamp(0.75rem, 0.6111rem + 0.4444rem, 1rem);
    font-family: Bebas Neue,sans-serif;
    transition: clip-path 0.2s;
    /*peux effacer */
    margin: 4px 2px;
}
  
.Long_Button:hover{
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 10% 50%);
    animation: 0.2s button ;
}

.Small_Button{
    padding: 1em 1.3em;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    

}
  
@keyframes button {
    0% { clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%); }
    60% { clip-path: polygon(12% 0, 90% 0, 100% 50%, 90% 100%, 12% 100%, 12% 50%); }
    100% {clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 10% 50%);}
}

.fleche_bas{
    fill: green;
    width:7vw;
}

