.button_wrap{
    filter: drop-shadow(black 2px 2px 10px);
    z-index: 20;
    position: relative;
    top: 15%;
   
    
    .Long_Button{
        margin: 0 10%;
        background-color: #A663FF;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        border: none;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%);
        padding: 1em 2em;
        transition: clip-path 0.2s;
       
        font-size: clamp(0.75rem, 1.2rem, 4rem);
        font-family: $police_titre;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        color: $couleur_blanc;
    }
      
    .Long_Button:hover{
        clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0% 100%, 0 50%)
    }
    
}

@media (min-width:$largeur__media--desktop){
    .button_wrap{
        left: -2%;
    }
    .Long_Button{
        margin-left: 14%;
        width: 30%;
        display: inline-block;
        
    }
}