.profs {

    @media screen and (min-width: $largeur__media--tablette) {

    }

    @media screen and (min-width: $largeur__media--desktop) {
        
        height: 300vh;
        width: 70vw;
        padding-top: 12.5vh;
        margin: 0 auto;

        &_canvas {
            height: 300vh;
            width: 70vw;
        }

        &_info {

            &_nom {
                font-size: 4rem;
            }

            &_desc {
                font-size: 2rem;
                padding: 0 1vw;
            }
        }

        &_fond {

        }

        &_selection {
            justify-content: flex-start;
            align-items: flex-start;
            /* background: linear-gradient(180deg, 
            rgba(0,0,0,0) 0%, 
            rgba(0,0,0,0) 45%, 
            $couleur_rosePrimaire 50%, 
            $couleur_mauvePrimaire 75%, 
            rgba(0,0,0,0) 80%, 
            rgba(0,0,0,0) 100%); */
        }

        &_choix {
            height: 25vh;

            &:nth-child(odd) {
                margin-left: 7.5vw;
            }
        }
    }

    display: flex;
    height: 300vh;
    width: 200vw;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;

    /* &:has(.profs_choix:active) {
        transform: translateX(-50%);
    } */

    &_canvas {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 6fr;
        height: 300vh;
        width: 200vw;
    }

    &_info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: $couleur_noir;
        border-left: 1vw solid $couleur_mauvePrimaire;
        color: $couleur_blanc;
        box-shadow: 0 0 1vw $couleur_noirFonce;

        &_nom {
            font-family: $police_titre;
            text-align: center;
            text-transform: uppercase;
        }

        &_desc {
            font-family: $police_texte;
        }
    }

    &_fond {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border-right: 1vw solid $couleur_mauveSecondaire;
        background-image: url(images/profs/portrait/ahm3.JPG);
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 1vw $couleur_noirFonce;
    }

    // Si on implémente l'instruction
    /* &_texte-choix {
        z-index: -1;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $couleur_blanc;
        font-family: $police_titre;
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 1rem $couleur_noirFonce;
        box-shadow: 0 0 1vw $couleur_noirFonce;
        border: 1vw solid $couleur_rosePrimaire;
        border-top: none;
        border-bottom: none;
    } */

    &_selection {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
    }

    &_choix {
        display: flex;
        aspect-ratio: 1;
        transition: margin-bottom 0.25s, width 0.25s;
        clip-path: $clippathHexagone;
        background-position: center;
        background-size: cover;
        animation: neon alternate 2s forwards infinite ease;

        &:hover {
            border: 1vh solid $couleur_rosePrimaire;
            border-left: none;
            border-right: none;
        }

        &:nth-child(odd) {

        }

        @keyframes neon {
            from {
                box-shadow: 0 0 0 0 $couleur_rosePrimaire inset;
            }
            to {
                box-shadow: 0 1vh 2vw 0 $couleur_mauveSecondaire inset;
            }
        }

        &:nth-child(1) {
            background-image: url(images/profs/icone/ahm1.JPG);
            &:hover {
                background-image: url(images/profs/icone-hover/ahm2.JPG);
                /* & ~ .profs_fond {
                    background-image: url(images/profs/portrait/ahm3.JPG);
                } */
            }
        }
        &:nth-child(2) {
            background-image: url(images/profs/icone/cam1.JPG);
            animation-delay: 0.25s;
            &:hover {
                background-image: url(images/profs/icone-hover/cam2.JPG);
            }
        }
        &:nth-child(3) {
            background-image: url(images/profs/icone/car1.JPG);
            animation-delay: 0.5s;
            &:hover {
                background-image: url(images/profs/icone-hover/car2.JPG);
            }
        }
        &:nth-child(4) {
            background-image: url(images/profs/icone/dav1.JPG);
            animation-delay: 0.75s;
            &:hover {
                background-image: url(images/profs/icone-hover/dav2.JPG);
            }
        }
        &:nth-child(5) {
            background-image: url(images/profs/icone/den1.JPG);
            animation-delay: 1s;
            &:hover {
                background-image: url(images/profs/icone-hover/den2.JPG);
            }
        }
        &:nth-child(6) {
            background-image: url(images/profs/icone/dom1.JPG);
            animation-delay: 1.25s;
            &:hover {
                background-image: url(images/profs/icone-hover/dom2.JPG);
            }
        }
        &:nth-child(7) {
            background-image: url(images/profs/icone/edd1.JPG);
            animation-delay: 1.5s;
            &:hover {
                background-image: url(images/profs/icone-hover/edd2.JPG);
            }
        }
        &:nth-child(8) {
            background-image: url(images/profs/icone/gre1.JPG);
            animation-delay: 1.75s;
            &:hover {
                background-image: url(images/profs/icone-hover/gre2.JPG);
            }
        }
        &:nth-child(9) {
            background-image: url(images/profs/icone/joh1.JPG);
            animation-delay: 2s;
            &:hover {
                background-image: url(images/profs/icone-hover/joh2.JPG);
            }
        }
        &:nth-child(10) {
            background-image: url(images/profs/icone/man1.JPG);
            animation-delay: 2.25s;
            &:hover {
                background-image: url(images/profs/icone-hover/man2.JPG);
            }
        }
        &:nth-child(11) {
            background-image: url(images/profs/icone/mar1.JPG);
            animation-delay: 2.5s;
            &:hover {
                background-image: url(images/profs/icone-hover/mar2.JPG);
            }
        }
        &:nth-child(12) {
            background-image: url(images/profs/icone/mat1.JPG);
            animation-delay: 2.75s;
            &:hover {
                background-image: url(images/profs/icone-hover/mat2.JPG);
            }
        }
        &:nth-child(13) {
            background-image: url(images/profs/icone/ste1.JPG);
            animation-delay: 3s;
            &:hover {
                background-image: url(images/profs/icone-hover/ste2.JPG);
            }
        }
        &:nth-child(14) {
            background-image: url(images/profs/icone/vin1.JPG);
            animation-delay: 3.25s;
            &:hover {
                background-image: url(images/profs/icone-hover/vin2.JPG);
            }
        }
    }
}

