// ----------------------------- Style général de la page de projets - Version mobile
body {
    background-position: 70% 30%;
    .site__main{
        padding-top: 0;
        padding-bottom: 0;
    }

    // ----------------------------- Style du titre
    .projets__boite__titre {
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        padding-top: 7vh;
    }

    .projets__titre {
        font-size: clamp(2.5rem, 2.5vw, 3rem);
        font-family: $police_titre;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        color: $couleur_blanc;
        text-shadow: 2px 2px 5px $couleur_noirFonce;
        span {
            color: $couleur_mauveSecondaire;
        }
    }

    // ----------------------------- Barre sous le titre
    .projets__barre {
        width: 300px;
        margin-left: 10vw;
        margin-top: -2vh;
    }

    // ----------------------------- Style du scroll horizontal
    .scroll__projets {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 8vw;
        padding-bottom: 5vh;
    }

    // ----------------------------- Conteneur pour avoir une ombre derrière
    .conteneur {
        filter: drop-shadow(rgba(34, 36, 38, 0.5) 12px 12px 30px);
    }

    // ----------------------------- Conteneur pour avoir un border
    .contour {
        position: relative;
        width: 43vw;
        aspect-ratio: 1/1;
        background: $couleur_rosePrimaire;
        background: linear-gradient(135deg, $couleur_rosePrimaire 0%, $couleur_mauvePrimaire 100%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    // ----------------------------- Forme hexagonale intérieur des projets
    .forme {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: $couleur_noir;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        // ----------------------------- Image des projets
        .wp-block-image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        // ----------------------------- Ajustements des positions pour les projets
        .img2_kev {
            width: 100%;
            height: auto;
        }

        .img2_jo {
            img {
                object-position: 5%;
            }  
        }
        
        // ----------------------------- Texte de description des projets étudiants, caché par défaut
        .description_projet {
            display: none;
        }
    }

    .forme:hover {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    // ----------------------------- overlay pour le effet de hover
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        background: rgba(34, 36, 38, 0.6);

        .titre__projet__etudiant {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            font-family: $police_texte;
            font-size: clamp(0.80rem, 1vw, 1rem);
            color: $couleur_blanc;
            opacity: 1;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            line-height: 1.3em;
            text-align: center;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
        }
    }

    .overlay:hover {
        background: transparent;
        .titre__projet__etudiant {
            opacity: 0;     
        }
    }

  

    // ----------------------------- Positionnement des hexagones
    .scroll__projets .conteneur:nth-of-type(1) {
        padding-left: 0;
        margin-top: 0;
    }

    .conteneur:last-of-type {
        padding-right: 0;
        padding-bottom: 7%;
    }

    .conteneur:nth-of-type(even) {
        margin-top: -25%;
        margin-right: 0;
        margin-left: 41%;
    }

    .conteneur:nth-of-type(odd) {
        margin-bottom: 0;
        margin-top: -25%;
    }

    /* Barre de scroll */
    ::-webkit-scrollbar {
        height: 25px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $couleur_mauvePrimaire;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $couleur_mauveSecondaire-pale;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: $couleur_mauveSecondaire-pale;
    }

    //Gallerie Wordpress
    .wp-block-image:not(.logo_tim) {
       height: 100%;
       margin-top: 0;
    }

    .logo_tim {
        margin-top: -1%;
    }
}

//Version Desktop
@media (min-width: $largeur__media--desktop) {

    /* Selectors and styles affecting screens WIDER THAN 767px (Tablet) */
    body {
        background-position: center;
        .scroll__projets {
            height: 70vh;
            position: relative;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-top: 22vh;
            white-space: nowrap;
        }

        .contour {
            width: 18vw;
            aspect-ratio: 1/1;
            min-width: 18vw;
         
        }

        .scroll__projets .conteneur:nth-of-type(1) {
            padding-left: 25vw;
            padding-top: 0;
        }

        .conteneur:last-of-type {
            padding-right: 4vw;
            padding-bottom: 0;
        }

        .conteneur:nth-of-type(even) {
            margin-top: -9.5%;
            margin-right: -3.5%;
            margin-left: -3.5%;
        }

        .conteneur:nth-of-type(odd) {
            margin-bottom: -7%;
            margin-top: 0;
        }
    }
}