.galerie{
    padding: 10px;
    width: 100%;
    
    padding-top: 25px;
    img{
        animation: lookthis 5s 0s infinite ease-in-out;
        
        opacity: 50%;
        border-radius: 50px !important;
        transition: all 0.3s ease-out;
        &:hover {
            animation: lookthis 0s 0s ease-in-out;
            opacity: 100%;
            border-radius: 5px !important;
        }
    }
}