.site__header {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgba(34, 36, 38, 0.35);

    position: fixed;
    z-index: 1;
    section{
        width: 50%;
    }  
    .site__nav {
        #menu-principal{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            list-style: none;
            li{
                a{
                    font-family: $police_titre;
                    color: #E1E1E1;
                    text-transform:uppercase;
                    letter-spacing: 2px;
                    text-decoration: none;
                }
            } 
        }
    }
    .site__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        color: #E1E1E1;
        i{
            margin-left: 10%;
            color: #E1E1E1;
            font-size: 2em;
            &:hover{
                transition: all .3s ease-in-out;
                color: white;
            }
        }
    }
}
.site__header.nav-active {
    background-color: rgba(41, 45, 50, 1);
    transition: background-color 200ms linear;
}