// ----------------------------- Style du titre                                 
.boite__modale, .boite__carrousel {
    position : fixed;
    z-index: 3;
    transform : scale(0);
    opacity: 0;
    transition : all 1s ease-in-out;
    


    &--ouvrir {
        transform : scale(1);
        opacity: 1;
    }

    &.ouvrir {
        transform : scale(1);
        opacity: 1;
    }
}


/* Les dimensions de la boite carrousel */
.boite__carrousel{
    display: flex;
    flex-direction: column;
    top: 0%;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    filter: drop-shadow(rgba(34, 36, 38, 0.5) 12px 12px 30px);
    .boite__carrousel__contour{
        position: relative;
        margin-top: 20vh;
        width: 100%;
        aspect-ratio: 1/1;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        background: linear-gradient(135deg, $couleur_rosePrimaire 0%, $couleur_mauvePrimaire 100%);
        @media screen and (min-width : $largeur__media--tablette) {
            margin-top: 0;
            width: 70vh;
            height: 70vh;
            max-width: 100vw;
            max-height: 100vw;
            top: 10vh;
        }

        .boite__carrousel__ferme{
            border: 0px;
            text-align: center;
            align-items: center;
            position: absolute;
            width: 10%;
            height: 10%;
            top: 5%;
            left: 45%;
            clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
            z-index: 1;
            background-color: $couleur_noir;
            color: white;
            font-family: $police_texte;   
        }
        .boite__carrousel__left{
            border: 0px;
            text-align: center;
            position: absolute;
            width: 5%;
            height: 100%;
            right: 0px;
            z-index: 1;
            background-color: $couleur_noir;
            color: white;
            font-family: $police_texte;   
        }
        .boite__carrousel__right{
            border: 0px;
            text-align: center;
            position: absolute;
            width: 5%;
            height: 100%;
            left: 0px;
            z-index: 1;
            background-color: $couleur_noir;
            color: white;
            font-family: $police_texte;   
        }

        .boite__carrousel__img { // conteneur d'img  .boite__carrousel__img
            clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
            position : absolute;
            overflow: hidden;
            top : 0;
            left : 0;
            object-fit: cover;
            width :100%;
            height : 100%;
            img{
                position : absolute;
                top : 0;
                left : 0;
                object-fit: cover;
                width :100%;
                height : 100%;
                opacity : 0;
                transition : all 1s;
                &.img--ouvrir{
                    opacity : 1;
                }
            }
        }
        .boite__carrousel__navigation {  //  .boite__carrousel__navigation
            display: none;
            /*padding:5%;
            position : absolute;
            display: flex;
            justify-content: center;
            width : 100%;
            bottom: 0;
            z-index:1;
            .bouton {  // .boite__carrousel__navigation .bouton  (les boutons radio )
                width : 20px;
                height : 20px;
                margin : 20px 10px;
                border-radius: 100%;
                &:focus {
                    background-color: black;
                }
            }*/
        }
    }
}    
/* fin .boite__carrousel */
/* Les dimensions de la boite modale */
.cours__desc{
    display: none;
    overflow-y: scroll;
    
}
.boite__modale{
    display: flex;
    flex-direction: column;
    top: 10%;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 95%;
    filter: drop-shadow(rgba(34, 36, 38, 0.5) 12px 12px 30px);
    &__ferme{
        border: 0px;
        text-align: center;
        align-items: center;
        position: absolute;
        width: 20%;
        height: 50px;
        left: 40%;
        clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
        z-index: 1;
        background-color: $couleur_mauvePrimaire;
        color: white;
        font-family: $police_texte; 
        @media screen and (min-width : $largeur__media--tablette){ 
                left: 47%;
                width: 6%;
                top: 5%;
            }  
    }
   
    &__texte{
        background-color: $couleur_noirFonce;
        padding: 1%;
        padding-top: 10%;
        line-height: 1.5rem;
        overflow: hidden;
        font-size: clamp(0.9rem, 1vw, 1.2rem);
        width: 100%;
        height: 90%;
        ::-webkit-scrollbar {
            display: none;
        }
        .cours__desc{
            text-align:justify;
            display: block;
            padding: 7%;
            padding-top: 10%;
            max-height: 70%;
            font-size: clamp(0.55rem, 1vh, 1rem);
        }
        @media screen and (min-width : $largeur__media--tablette){
            .cours__desc{
                padding: 20%;
                padding-top: 5%;
            }

            top:5%;
            width: 70vh;
            height: 70vh;
            max-width: 100vw;
            max-height: 100vw;
            aspect-ratio: 1/1;
            clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        }
        @media screen and (min-width : $largeur__media--desktop){
            top:5%;
            width: 70vh;
            height: 70vh;
            max-width: 100vw;
            max-height: 100vw;
            aspect-ratio: 1/1;
            clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        }
    }
}