.showcase{
    width: 100vw;
    max-height: 100Vh;

    background-image: url(images/Background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    .videoBanner{
        opacity: 20%;
    }
}